<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d7e6f5a-4b3c-4d2e-1f0a-9b8c7d6e5f4a" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-article</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A blog post page with markdown content support</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c3d4e5f6-a7b8-9012-cdef-123456789012">sitemapSettings</Composition>
    </Compositions>
    <DefaultTemplate>blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d6e5f4a-3b2c-4d1e-0f9a-8b7c6d5e4f3a">blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1f2a3b4c-5d6e-4f7a-8b9c-0d1e2f3a4b5c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The blog post title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Title is required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a3b4c5d-6e7f-4a8b-9c0d-1e2f3a4b5c6d</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An optional subtitle or tagline]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b4c5d6e-7f8a-4b9c-0d1e-2f3a4b5c6d7e</Key>
      <Name>Header Image</Name>
      <Alias>headerImage</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImagePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header image for the blog post]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c5d6e7f-8a9b-4c0d-1e2f-3a4b5c6d7e8f</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>8e7f6d5c-4b3a-4d2e-9f1a-2b3c4d5e6f7a</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main blog post content in Markdown format]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Content is required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d6e7f8a-9b0c-4d1e-2f3a-4b5c6d7e8f9a</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date this post was published]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e7f8a9b-0c1d-4e2f-3a4b-5c6d7e8f9a0b</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tags for categorizing this blog post]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f9a0b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9a0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d</Key>
      <Caption>Metadata</Caption>
      <Alias>metadata</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
