<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4e5f6a7-b8c9-0123-def1-234567890124" Alias="sitemap" Level="1">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-map-location</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>XML Sitemap page for search engines</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e5f6a7b8-c9d0-1234-ef12-345678901235">sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f6a7b8c9-d0e1-2345-f123-456789012346</Key>
      <Name>Sitemap Title</Name>
      <Alias>sitemapTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the sitemap (for admin purposes only, not displayed)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a7b8c9d0-e1f2-3456-1234-567890123457</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
