<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e7f6d5c-4b3a-4d2e-9f1a-2b3c4d5e6f7a" Alias="Markdown" Level="1">
  <Info>
    <Name>Markdown</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "preview": true,
  "defaultValue": null,
  "overlaySize": "small",
  "hideLabel": false
}]]></Config>
</DataType>
