<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890" Alias="Sitemap - Frequency" Level="1">
  <Info>
    <Name>Sitemap - Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "always",
    "hourly",
    "daily",
    "weekly",
    "monthly",
    "yearly",
    "never"
  ]
}]]></Config>
</DataType>
