<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1f2a3b4-d5c6-4e7f-a8b9-c0d1e2f3a4b5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-08T00:00:00</CreateDate>
    <NodeName Default="Home" />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[🌟 Welcome to My Totally Rad Geocities Blog! 🌟]]></Value>
    </pageTitle>
    <welcomeMessage>
      <Value><![CDATA[Step into my digital time machine and experience the golden age of the internet! This is where nostalgia meets modern blogging. Grab your favorite beverage and stay a while! 🎉]]></Value>
    </welcomeMessage>
    <aboutSection>
      <Value><![CDATA[<p><strong>Greetings, fellow internet traveler!</strong> 👋</p>
<p>Remember the days when websites had flashing text, rainbow backgrounds, and visitor counters? When <em>under construction</em> GIFs were everywhere and MIDI files played automatically? Those were the days!</p>
<p>I'm a proud Geocities veteran, and this blog is my tribute to that beautiful, chaotic era of web design. Here, I share my journey of building this website, my experiences at the <strong>Umbraco US Festival 2025</strong> in Chicago, and everything I'm learning along the way.</p>
<p>This site is built with <strong>Umbraco</strong> - a modern CMS that lets me combine the best of both worlds: the charm of 90s web aesthetics with the power of contemporary web development. Pretty cool, huh? 😎</p>
<p><strong>What you'll find here:</strong></p>
<ul>
<li>🎨 Tales of web development adventures</li>
<li>💻 Learning experiences with Umbraco</li>
<li>🎪 Stories from the Umbraco US Festival 2025</li>
<li>📝 Random thoughts about technology, nostalgia, and the web</li>
<li>🌈 Plenty of 90s vibes and good times!</li>
</ul>
<p>So pull up a chair, get comfortable, and join me on this nostalgic journey through cyberspace! Don't forget to sign my guestbook... oh wait, we don't have those anymore. But you can check out my blog posts instead! 🚀</p>]]></Value>
    </aboutSection>
    <metaDescription>
      <Value><![CDATA[A nostalgic Geocities-style blog about web development, Umbraco, and the journey of building a retro website for the Umbraco US Festival 2025 in Chicago.]]></Value>
    </metaDescription>
  </Properties>
</Content>
